/* kode-mono-regular - latin_latin-ext */
/* kode-mono-regular - latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Kode Mono';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/Kobe-mono/kode-mono-v2-latin_latin-ext-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* kode-mono-500 - latin_latin-ext */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Kode Mono';
    font-style: normal;
    font-weight: 500;
    src: url('./assets/fonts/Kobe-mono/kode-mono-v2-latin_latin-ext-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* kode-mono-600 - latin_latin-ext */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Kode Mono';
    font-style: normal;
    font-weight: 600;
    src: url('./assets/fonts/Kobe-mono/kode-mono-v2-latin_latin-ext-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* kode-mono-700 - latin_latin-ext */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Kode Mono';
    font-style: normal;
    font-weight: 700;
    src: url('./assets/fonts/Kobe-mono/kode-mono-v2-latin_latin-ext-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

 :root {
    --PURPLE : #a64eda;
    --ORANGE : #F69642;
  }

* {
    margin: 0;
    padding: 0;
}

body {
    background : #222;
    color: #c7c7c7;
    font-weight: 500;
    font-family: 'Kode Mono';
}

.text-secondary {
    color: var(--ORANGE);
}

p,
a {
    font-size: 18px;
}

h1 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

@media screen and (width <= 500px) {
    p,
a {
    font-size: 16px;
}

h1 {
    font-size: 26px;
}

h3 {
    font-size: 20px;
}
}



a,
.more-details-button {
    color: #c7c7c7;
    text-decoration: none;
    transition: 0.2s all ease-in-out;
}

a:hover,
.more-details-button:hover {
    color: var(--PURPLE);
    padding-left: 2px;
}

p a {
    color: var(--ORANGE);
    transition: 0.2s all ease-in-out;
}

p a:hover {
    color: var(--PURPLE);
}

/* Utilities */

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.body-wrap {
    gap: 20px;
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

/* Styling */

.hero {
    gap : 50px;
}

.hero img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

.info-item {
    border-left: 1px solid #777;
    padding: 0 10px;
}

.details,
.default-gap {
    gap: 20px;
}

.large-gap {
    gap: 30px;
}

.small-gap {
    gap: 10px;
}

.title {
    padding-bottom: 20px;
}

.title i {
    font-size: 30px;
}

.fa-solid.fa-angle-down {
    transition: 0.3s all ease-in-out;
}

.info-date  {
    font-size: 14px;
}

.info-item .emoji{
    font-size: 20px;
}

ul {
    padding: 20px;
}

@media screen and (width <= 660px) {
    .hero img {
        width: 120px;
        height: 120px;
    }

    .hero {
        flex-direction: column;
        align-items: flex-start;
        gap: 25px;
    }
}
